[submodule "hello-electron"]
	path = hello-electron
	url = git@github.com:cfogelklou/hello-electron.git
[submodule "BattleSnake-cpp-client"]
	path = BattleSnake-cpp-client
	url = git@github.com:cfogelklou/BattleSnake-cpp-client.git
[submodule "phone-as-key"]
	path = phone-as-key
	url = git@github.com:polestar/phone-as-key.git
[submodule "strobopro"]
	path = strobopro
	url = https://github.com/cfogelklou/strobopro
